<!-- <p>text-input works!</p> -->

<!-- <label *ngIf="label" for="{{ id }}" class="form-label label-title">{{ label }}</label> -->

<div class="custom-form" >
    <input type="{{ type }}" class="py-3" (keydown.enter)="onEnterKey()" [placeholder]="label" [formControlName]="name" [ngClass]="{'is-invalid': hasError()}" id="{{ id }}" attr.aria-describedby="{{ id + '-feedback' }}">

    <div *ngIf="hasError()" id="{{ id + '-feedback' }}" class="invalid-feedback">Error</div>
</div>
