<div class="w-100 header fixed-top py-2 px-3" *ngIf="!pageHasHeader()">
  <div class="d-flex justify-content-between align-items-center h-100 logo-box nav-items w-100">
    <div class="logo-container d-flex align-items-center">
      <div class="burger-box me-5" (click)="toggleMenu()">
        <img src="../../../../assets/icons/burger-icon.svg" alt="">
      </div>
      <img src="https://static-00.iconduck.com/assets.00/file-type-angular-icon-1907x2048-tobdkjt1.png" alt="">
    </div>

    <form [formGroup]="searchForm" tabindex="0" class="search-form">
      <app-text-input name="search" [label]="'Search something.'" (enterKeyPressed)="searchProduct($event)"></app-text-input>
    </form>

    <div class="options-box d-flex align-items-center">
      <div class="me-5">
        Sign Up
      </div>
      <div class="icon-box">
        <img src="../../../../assets/icons/shopping-cart-icon.svg" alt="">
      </div>
    </div>
  </div>
</div>

<div class="h-100 side-menu position-fixed" [ngClass]="{'menu-open': isMenuOpen}">
  <div class="close-button icon-box ms-3 mt-3" (click)="toggleMenu()">
    <img src="../../../../assets/icons/close-icon.svg" alt="">
  </div>

  <div class="mt-5 category-box d-flex flex-column px-4">
    <a *ngFor="let category of productCategories;" class="text-capitalize" [routerLink]="'/category/' + category.id" (click)="toggleMenu()">
      {{category.categoryName}}
    </a>
  </div>
</div>
